body {
    line-height: 1;
    font-family: 'Lobster', cursive;
    font-family: 'Cormorant Garamond', serif;
}

legend {
font-size: 3rem;
}

#img-caption {
	font-size: 1rem;
	text-align: center;
	margin: 1%;
}

div {
    padding: 1rem;
}

#description {
  text-align: center;
  font-size: 1rem;
  font-family: 'Lobster', cursive;
  font-family: 'Cormorant Garamond', serif;
}

#image {
  display: block;
  text-align: center;
    height: 7rem;
    display: block;
    width: 7rem;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin-right: 1rem;
}

fieldset {
    margin: 2rem;
}

.chec {
font-size: xx-large;
font-weight: normal;
}

#submit {
	box-shadow:inset 0px 7px 0px 1px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:42px;
	border:7px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:12px 39px;
	text-decoration:none;
	text-shadow:0px 2px 50px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}

#title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#submitBTN {
    padding: 2rem;
    text-align: center;
}
